
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #111;
    background: url("dark.jpeg");
    backdrop-filter: blur(5px);
    background-size: cover;
    position: relative;
}


body::before {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    background: inherit;
    backdrop-filter: blur(5px);
    z-index: -1;
}


.header {
    width: 85%;
    padding: 2.5% 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header h1 {
    font-size: 20px;
}

.header nav ul {
    display: flex;
    gap: 10px;
    
    list-style: none;
}

.header nav a {
    text-decoration: none;
    color: #111;
    font-weight: bold;
}


.hero {
    width: 50%;
    max-width: 50%;
    margin-bottom: 20px;
}

.hero-card {
    padding: 2.5% 2.5%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.hero-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.hero-card p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.hero-card button {
    padding: 1% 1%;
    font-size: 1rem;
    border: none;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.hero-card button:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: scale(1.05);
}


.products {
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    padding: 5px;
    width: 200px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 6px 20px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 1px;
}

.product-card button {
    margin-top: auto;
    padding: 10px 10px;
    border: none;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.product-card button:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: scale(1.05);
}


.footer {
    width: 90%;
    padding: 5px;
    text-align: center ;
    background: rgba(250, 250, 250,0.3);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    top: 0;
    position: sticky;
}


.liquid-glass {
    position: relative;
    border-radius: 100vmax;
    background: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 1.5rem 3rem;
    font-size: 1.25rem;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease;
}

.liquid-glass:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
